<div>1</div>
<div>What is the level of access to the site?</div>
<div><span style="color:green;">&#10003;</span><span style="color:red;">&#10007;</span></div>
<div>
    <!-- <select id="example-multi-select" data-placeholder="Select options" multiple="multiple" data-multi-select> -->
    <!--     <option value="option1">Physically constrained access</option> -->
    <!--     <option value="option2">Time limited access (e.g. certain hours accessible)</option> -->
    <!--     <option value="option2">Third party access (e.g. access through land owned by others, access rights needed)</option> -->
    <!-- </select> -->
    <fieldset>
      <input type="radio" id="q1an" name="accessyn" value=false onchange="toggleMulti(true, 'q1amulti')" /><label for="q1an">Unconstrained</label><br>
      <input type="radio" id="q1ay" name="accessyn" value=true onchange="toggleMulti(false, 'q1amulti')" /><label for="q1ay">Constrained</label><br>
    </fieldset>
    <!-- <fieldset x-bind:disabled="!accessyn"> -->
    <fieldset id="q1amulti" disabled>
      <input type="checkbox" id="huey" name="drone" value="huey" /><label for="huey">Physically constrained access</label><br>
      <input type="checkbox" id="dewey" name="drone" value="dewey" /><label for="dewey">Time limited access (e.g. certain hours accessible)</label><br>
      <input type="checkbox" id="louie" name="drone" value="louie" /><label for="louie">Third party access (e.g. access through land owned by others, access rights needed)</label><br>
    </fieldset>
    <hr>
    <details name="cdq">
        <summary id="q1a">Details</summary>
        <form action="" hx-post="{{ url_for('cost_driver_1') }}" hx-target="#q1b" hx-swap="outerHTML" hx-trigger="change" novalidate>
            {{ acfform.hidden_tag() }}
            <span id="q1b">
                    {% include 'cost_driver_questions/cd1b.html' ignore missing %}
            </span>
        </form>
    </details>
</div>
