<div>10</div>
<div>Is the project adversely influenced by any of the following?</div>
<div><button>Edit</button></div>
<div>
    <fieldset>
      <input type="radio" id="q10an" name="adverseyn" value=false onchange="toggleMulti(true, 'q10amulti')" /><label for="q10an">None</label><br>
      <input type="radio" id="q10ay" name="adverseyn" value=true onchange="toggleMulti(false, 'q10amulti')" /><label for="q10ay">Factors:</label><br>
    </fieldset>
    <fieldset id="q10amulti" disabled>
      <input type="checkbox" id="q10a1" name="adversem" value="Water" /><label for="q10a1">Water</label><br>
      <input type="checkbox" id="q10a2" name="adversem" value="Railway" /><label for="q10a2">Railway</label><br>
      <input type="checkbox" id="q10a3" name="adversem" value="Highways" /><label for="q10a3">Highways</label><br>
      <input type="checkbox" id="q10a4" name="adversem" value="Plant" /><label for="q10a4">Process Plants</label><br>
      <input type="checkbox" id="q10a5" name="adversem" value="Pipeline" /><label for="q10a5">Buried pipelines</label><br>
      <input type="checkbox" id="q10a6" name="adversem" value="Electricity" /><label for="q10a6">Electricity routes</label><br>
    </fieldset>
    <hr>
</div>
