<div>12</div>
<div>What utilities are not available to connect for the construction works?</div>
<div><button>Edit</button></div>
<div>
    <fieldset>
      <input type="radio" id="q12an" name="missingyn" value=false onchange="toggleMulti(true, 'q12amulti')" /><label for="q12an">None</label><br>
      <input type="radio" id="q12ay" name="missingyn" value=true onchange="toggleMulti(false, 'q12amulti')" /><label for="q12ay">Missing:</label><br>
    </fieldset>
    <fieldset id="q12amulti" disabled>
      <input type="checkbox" id="q12a1" name="missingm" value="Water" /><label for="q12a1">Water</label><br>
      <input type="checkbox" id="q12a2" name="missingm" value="Waste" /><label for="q12a2">Foul Water</label><br>
      <input type="checkbox" id="q12a3" name="missingm" value="Power" /><label for="q12a3">Power</label><br>
      <input type="checkbox" id="q12a4" name="missingm" value="Data" /><label for="q12a4">Data/Telecommunications</label><br>
    </fieldset>
    <hr>
</div>
