<div>2. Are there any official designations for the site?</div>
<div><button>Edit</button></div>
<div>
    <fieldset>
      <input type="radio" id="q2an" name="designyn" value=false onchange="toggleMulti(true, 'q2amulti')" /><label for="q2an">None</label><br>
      <input type="radio" id="q2ay" name="designyn" value=true onchange="toggleMulti(false, 'q2amulti')" /><label for="q2ay">Designations:</label><br>
    </fieldset>
    <fieldset id="q2amulti" disabled>
      <input type="checkbox" id="q2a1" name="designm" value="AONB" /><label for="q2a1">Area of outstanding natural beauty (AONB)</label><br>
      <input type="checkbox" id="q2a2" name="designm" value="Park" /><label for="q2a2">National Park</label><br>
      <input type="checkbox" id="q2a3" name="designm" value="SSSIS" /><label for="q2a3">SSSIS, SACs, SPAs, Ramsar wetlands</label><br>
      <input type="checkbox" id="q2a4" name="designm" value="Marine" /><label for="q2a4">Marine Conservation Zones</label><br>
      <input type="checkbox" id="q2a5" name="designm" value="Conservation" /><label for="q2a5">Conservation Zones</label><br>
      <input type="checkbox" id="q2a6" name="designm" value="TPO" /><label for="q2a6">TPO (Tree Protection Orders)</label><br>
    </fieldset>
    <hr>
</div>
