<div>3</div>
<div>What types of site compounds do you have (if any)?</div>
<div><button>Edit</button></div>
<div>
    <fieldset id="q3amulti">
      <input type="checkbox" id="q3a1" name="sitem" value="Welfare" /><label for="q3a1">No compound (welfare only)</label><br>
      <input type="checkbox" id="q3a2" name="sitem" value="Main" /><label for="q3a2">Standard/main compound</label><br>
      <input type="checkbox" id="q3a3" name="sitem" value="Satellite" /><label for="q3a3">Satellite compound</label><br>
      <input type="checkbox" id="q3a4" name="sitem" value="Highways" /><label for="q3a4">Highways</label><br>
    </fieldset>
    <hr>
</div>

