                    <div>6. Is there any hazardous waste present on the site?</div>
                    <div><button>Edit</button></div>
                    <div>
                        <details name="cdq">
                            <summary id="q6a">Not Answered</summary>
                            <form action="" hx-patch="{{ url_for('cost_driver_6') }}" hx-target="#q6a" hx-trigger="change" novalidate>
                                {{ hwform.hidden_tag() }}
                                {% for subfield in hwform.waste %}
                                    <p>{{ subfield }} {{ subfield.label }}</p>
                                {% endfor %}
                                <p>{{ hwform.submit() }}</p>
                            </form>
                        </details>
                    </div>
