<div>8</div>
<div>What is required for the existing non-EA structures at the site?</div>
<div><button>Edit</button></div>
<div>
    <fieldset>
      <input type="radio" id="q8an" name="requireyn" value=false onchange="toggleMulti(true, 'q8amulti')" /><label for="q8an">None</label><br>
      <input type="radio" id="q8ay" name="requireyn" value=true onchange="toggleMulti(false, 'q8amulti')" /><label for="q8ay">Requirements:</label><br>
    </fieldset>
    <fieldset id="q8amulti" disabled>
      <input type="checkbox" id="q8a1" name="requirem" value="Removal" /><label for="q8a1">Removal (Complete demolition and disposal)</label><br>
      <input type="checkbox" id="q8a2" name="requirem" value="Relocation" /><label for="q8a2">Relocation or Diversion (Moving structures to a new location, service or road diversion)</label><br>
      <input type="checkbox" id="q8a3" name="requirem" value="Partial" /><label for="q8a3">Partial Removal (Selective demolition and disposal)</label><br>
      <input type="checkbox" id="q8a4" name="requirem" value="Protection" /><label for="q8a4">Protection of existing structures (existing structures in place)</label><br>
    </fieldset>
    <hr>
</div>
