<div>9</div>
<div>What type of species are present/anticipated on the site?</div>
<div><button>Edit</button></div>
<div>
    <details name="cdq">
        <summary id="q9a">Not Answered</summary>
        <form action="" hx-patch="{{ url_for('cost_driver_9') }}" hx-target="#q9a" hx-trigger="change" novalidate>
            {{ spform.hidden_tag() }}
            {% for subfield in spform.species %}
                <p>{{ subfield }} {{ subfield.label }}</p>
            {% endfor %}
            <p>{{ spform.submit() }}</p>
        </form>
    </details>
</div>
