<div class="mid bod">
    <table class="mid breathe">
        <tr class="hed">
            <td>Version</td>
            <td>Status</td>
            <td>Questions</td>
            <td>Submit</td>
        </tr>
        <tr>
            <td>Version nbr - get from question class?</td>
            <td>Draft, Ready, Final - get from question class?</td>
            <td>1-12, span, colour for answered - get from question class?</td>
            <td>Save / Publish button</td>
        </tr>
    </table>
    <br>
    <hr>
</div>
