                    <div></div>
                    <div>Question</div>
                    <div></div>
                    <div>Answer</div>
                    {% include 'cost_driver_questions/cd1.html' ignore missing %}
                    {% include 'cost_driver_questions/cd2.html' ignore missing %}
                    {% include 'cost_driver_questions/cd3.html' ignore missing %}
                    {% include 'cost_driver_questions/cd4.html' ignore missing %}
                    {% include 'cost_driver_questions/cd5.html' ignore missing %}
                    {% include 'cost_driver_questions/cd6.html' ignore missing %}
                    {% include 'cost_driver_questions/cd7.html' ignore missing %}
                    {% include 'cost_driver_questions/cd8.html' ignore missing %}
                    {% include 'cost_driver_questions/cd9.html' ignore missing %}
                    {% include 'cost_driver_questions/cd10.html' ignore missing %}
                    {% include 'cost_driver_questions/cd11.html' ignore missing %}
                    {% include 'cost_driver_questions/cd12.html' ignore missing %}
