<!-- <form action="" method="post" hx-target="#q5a" hx-post="{{ url_for('cost_driver_answers') }}" hx-swap="innerHTML" novalidate> -->
<!--     {{ cdform.hidden_tag() }} -->
<!--     <div> -->
<!--     {{ cdform.designation }} -->
<!--     </div> -->
<!--     <div> -->
<!--     {{ cdform.submit }} -->
<!--     </div> -->
<!-- </form> -->
<!-- <form action="" hx-post="{{ url_for('cost_driver_answers') }}" hx-trigger="change" hx-target="#cda" novalidate> -->
    <!-- {{ cdform.hidden_tag() }} -->
    <div>1</div>
    <div>{{ cdform.access.label }}</div>
    <div>
      {% if cdform.access.data and (cdform.access.data != "Constrained" or cdform.access_detail.data) %}
        <span style="color:green;">&#10003;</span>
      {% else %}
        <span style="color:red;">&#10007;</span>
      {% endif %}
    </div>
    <div class="card">
      {% for subfield in cdform.access %}
        <p>{{ subfield }} {{ subfield.label }}</p>
      {% endfor %}
      {% set access_constrained = cdform.access.data == "Constrained" %}
      <div class="subcard{% if not access_constrained %} subcard--disabled{% endif %}">
          {% for subfield in cdform.access_detail %}
              <p>{{ subfield(disabled=not access_constrained) }} {{ subfield.label }}</p>
          {% endfor %}
      </div>
    </div>
    <div>4</div>
    <div>{{ cdform.site_access.label }}</div>
    <div>
      {% if cdform.site_access.data %}
        <span style="color:green;">&#10003;</span>
      {% else %}
        <span style="color:red;">&#10007;</span>
      {% endif %}
    </div>
    <div class="card">
      {% for subfield in cdform.site_access %}
        <p>{{ subfield }} {{ subfield.label }}</p>
      {% endfor %}
    </div>
    <div>5</div>
    <div>{{ cdform.price.label }}</div>
    <div>
      {% if cdform.price.data %}
        <span style="color:green;">&#10003;</span>
      {% else %}
        <span style="color:red;">&#10007;</span>
      {% endif %}
    </div>
    <div class="card">
      {% for subfield in cdform.price %}
        <p>{{ subfield }} {{ subfield.label }}</p>
      {% endfor %}
    </div>
    <div>6</div>
    <div>{{ cdform.waste.label }}</div>
    <div>
      {% if cdform.waste.data %}
        <span style="color:green;">&#10003;</span>
      {% else %}
        <span style="color:red;">&#10007;</span>
      {% endif %}
    </div>
    <div class="card">
      {% for subfield in cdform.waste %}
        <p>{{ subfield }} {{ subfield.label }}</p>
      {% endfor %}
    </div>
    <div>7</div>
    <div>{{ cdform.ground.label }}</div>
    <div>
      {% if cdform.ground.data %}
        <span style="color:green;">&#10003;</span>
      {% else %}
        <span style="color:red;">&#10007;</span>
      {% endif %}
    </div>
    <div class="card">
      {% for subfield in cdform.ground %}
        <p>{{ subfield }} {{ subfield.label }}</p>
      {% endfor %}
    </div>
    <div>11</div>
    <div>{{ cdform.milestone.label }}</div>
    <div>
      {% if cdform.milestone.data %}
        <span style="color:green;">&#10003;</span>
      {% else %}
        <span style="color:red;">&#10007;</span>
      {% endif %}
    </div>
    <div class="card">
      {% for subfield in cdform.milestone %}
        <p>{{ subfield }} {{ subfield.label }}</p>
      {% endfor %}
    </div>
<!-- </form> -->

