{% extends "base.html" %}

{% block topblock %}
    <h2>Data Requirements Library</h2>
    <p>This is the main content area of the page.</p>
    <br>
{% endblock %}

{% block content %}
    {% if assets %}
    <table>
        <tr>
            <th>Asset Type</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.label }}</td>
            <td>{{ asset.category.split('/')[-1] }}</td>
            <td>{{ asset.description|safe }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}

{% block internallinks %}
    <li><a href="#aidstonavigation">Aids To Navigation</a></li>
    <li><a href="#amenities">Amenities</a></li>
    <li><a href="#assetcomplex">Asset Complex</a></li>
    <li><a href="#beachstructure">Beach Structure</a></li>
    <li><a href="#buildingsandcompounds">Buildings And Compounds</a></li>
    <li><a href="#channel">Channel</a></li>
    <li><a href="#channelcrossings">Channel Crossings</a></li>
    <li><a href="#defence">Defence</a></li>
    <li><a href="#informationdeliverables">Information Deliverables</a></li>
    <li><a href="#instruments">Instruments</a></li>
    <li><a href="#land">Land</a></li>
    <li><a href="#mechanicalandelectrical">Mechanical And Electrical</a></li>
    <li><a href="#publicsafety">Public Safety</a></li>
    <li><a href="#structure">Structure</a></li>
    <li><a href="#surfacewatermanagement">Surface Water Management</a></li>
{% endblock %}

{% block pageform %}
{% endblock %}
