{% extends "base.html" %}

{% block topblock %}
    <h2>Main Content</h2>
    <p>This is the main content area of the page.</p>
    <br>
{% endblock %}

{% block tabular %}
        <div id="table"></div>
        <script>
            new gridjs.Grid({
                columns: [
                    { id: 'project', name: 'Project' },
                    { id: 'name', 
                      name: 'Name', 
                      formatter: (cell) => gridjs.html(`${cell}`) 
                      },
                    { id: 'hub', name: 'Hub' },
                    { id: 'type', name: 'Type' },
                    { id: 'gateway', name: 'Gateway', sort: false },
                    { id: 'partner', name: 'Partner', sort: false },
                    { id: 'contract', name: 'Contract', sort: false },
                    { id: 'link', 
                      name: 'Link', 
                      sort: false,
                      formatter: (_, row) => gridjs.html(
                        `<a href='${row.cells[7].data}'><button type="button">Link</button></a>`
                        )
                      },
                    { id: 'link2', 
                      name: 'Link', 
                      sort: false,
                      formatter: (cell) => gridjs.html(`<a href='${cell}'>Link</a>`)
                      },
                ],
                data: [
                        {% for enq in enqs %}
                            {
                                project: '{{ enq.project }}',
                                name: '{{ enq.name }}',
                                hub: '{{ enq.hub }}',
                                type: '{{ enq.type }}',
                                gateway: '{{ enq.gateway }}',
                                partner: '{{ enq.partner }}',
                                contract: '{{ enq.contract }}',
                                link: '{{ enq.link }}',
                                link2: '{{ enq.link }}',
                            },
                        {% endfor %}               
                ],
                search: {
                    selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
                },
                sort: true,
                pagination: {limit: 5},
            }).render(document.getElementById('table'));
        </script>
{% endblock %}

{% block pageform %}
{% endblock %}
